.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-bottom: -5px;
}

.jumbotron img {
    margin-top: 28px;
    width: 100%;
    max-width: 700px;
    height: auto;
}

/* Navbar Section */
.navbar-brand {
  font-size: 22px;
  margin-top: 8px;
}

.navbar-brand img {
  margin-top: -10px;
}

.bg-pink {
    background-color: #ffcdcf;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    color: #53383d;
}

.navbar ul li a:hover {
    border-bottom: 1px solid #53383d;
}

.active-link {
    border-bottom: 1px solid #53383d;
}

.dropdown-toggle::after {
  display:none;
}