<div class="jumbotron jumbotron-fluid bg-white">
  <img src="../../../../assets/images/Logo.PNG" alt="CamThanh_Header_Logo">
</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-pink navbar-light sticky-top">
  <!-- Brand -->
  <a class="navbar-brand" [routerLink]="['/homepage']">
    TRANG CHỦ
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/cungquanghang']" routerLinkActive="active-link">CUNG QUẢNG HẰNG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/review']" routerLinkActive="active-link">REVIEW</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sangtac']" routerLinkActive="active-link">SÁNG TÁC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/saccamthanh']" routerLinkActive="active-link">SẮC CẤM THÀNH</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/vip']" routerLinkActive="active-link">VIP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/tuyendung']" routerLinkActive="active-link">TUYỂN DỤNG</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" (click)="openModalRegisterComponent()">ĐĂNG KÝ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="openModalLoginComponent()">ĐĂNG NHẬP</a>
      </li>
    </ul>
  </div>
</nav>