.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-bottom: 0;
}

.jumbotron img {
    width: 400px;
    height: 130px;
}

/* Navbar Section */
.bg-pink {
    background-color: #ffcdcf;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    color: #53383d;
}

.navbar ul li a:hover {
    border-bottom: 1px solid #53383d;
}

.active-link {
    border-bottom: 1px solid #53383d;
}

.dropdown-toggle::after {
  display:none;
}