<form id="formRegister">

  <div class="input-container">
    <i class="fa fa-user icon fa-lg"></i>
    <input class="input-field" type="text" placeholder="Tài khoản (Email)" name="usrnm">
  </div>

  <div class="input-container">
    <i class="fa fa-key icon fa-lg"></i>
    <input class="input-field" type="password" placeholder="Mật khẩu" name="psw">
  </div>

  <div class="input-container">
    <i class="fa fa-key icon fa-lg"></i>
    <input class="input-field" type="password" placeholder="Nhập lại mật khẩu" name="psw">
  </div>

  <div class="button-container">
    <button type="submit" class="btn"><i id="sign-in-icon" class="fa fa-user-plus fa-lg"></i>Đăng ký</button>
  </div>

</form>