<!-- banner carousel -->
<div id="banner-carousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#banner-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#banner-carousel" data-slide-to="0"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/images/banner-image-1.jpg" alt="banner1">
    </div>
    <div class="carousel-item">
      <img src="./assets/images/banner-image-2.jpg" alt="banner2">
    </div>
    <div class="carousel-item">
      <img src="./assets/images/banner-image-3.jpg" alt="banner3">
    </div>
    <div class="carousel-item">
      <img src="./assets/images/banner-image-4.jpg" alt="banner4">
    </div>
  </div>

  <!-- Left and right control -->
  <a class="carousel-control-prev" href="#banner-carousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#banner-carousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<!-- NOTE -->
<div class="notect">
  <h1>CẤM THÀNH</h1>
  <h3>Những Điều Cần Lưu ý</h3>
</div>

<!-- container -->
<div class="container">
  <div class="row">
    <!-- Box Review Latest v.v.v -->
    <div id="box1" class="col-sm-8">
      <div class="row box">
        <div class="col-sm-4">
          <div class="fakeimg">Pic</div>
        </div>
        <div class="review-info col-sm-8">
          <h4 class="latest-review">Review mới nhất</h4>
          <h3 class="review-name">Tên truyện:</h3>
          <h3 class="review-info">Tác giả:</h3>
          <h3 class="review-info">Thể loại:</h3>
          <h3 class="review-info">Review:</h3>
          <a href="#">
            <small class="viewmore">See more...</small>
          </a>
        </div>
      </div>

      <div class="row box">
        <div class="col-sm-4">
          <div class="fakeimg">Pic</div>
        </div>
        <div class="review-info col-sm-8">
          <h4 class="latest-review">Review mới nhất</h4>
          <h3 class="review-name">Tên truyện:</h3>
          <h3 class="review-info">Tác giả:</h3>
          <h3 class="review-info">Thể loại:</h3>
          <h3 class="review-info">Review:</h3>
          <a href="#">
            <small class="viewmore">See more...</small>
          </a>
        </div>
      </div>

      <div class="row box">
        <div class="col-sm-4">
          <div class="fakeimg">Pic</div>
        </div>
        <div class="review-info col-sm-8">
          <h4 class="latest-review">Review mới nhất</h4>
          <h3 class="review-name">Tên truyện:</h3>
          <h3 class="review-info">Tác giả:</h3>
          <h3 class="review-info">Thể loại:</h3>
          <h3 class="review-info">Review:</h3>
          <a href="#">
            <small class="viewmore">See more...</small>
          </a>
        </div>
      </div>

      <div class="row box">
        <div class="col-sm-4">
          <div class="fakeimg">Pic</div>
        </div>
        <div class="review-info col-sm-8">
          <h4 class="latest-review">Review mới nhất</h4>
          <h3 class="review-name">Tên truyện:</h3>
          <h3 class="review-info">Tác giả:</h3>
          <h3 class="review-info">Thể loại:</h3>
          <h3 class="review-info">Review:</h3>
          <a href="#">
            <small class="viewmore">See more...</small>
          </a>
        </div>
      </div>
    </div>

    <!-- TOP -->
    <div id="top-dv" class="col-sm-4">
      <div class="row">
        <div class="col-sm-12">
          <div class="box box-top-dv">
            <h2 class="top-10-dv">TOP 10 Danh Vọng</h2>
            <ul>
              <li>Hậu</li>
              <li>Phi</li>
              <li>Tần</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="box box-top-dv">
            <h2 class="top-10-dv">TOP 10 Tài Phú</h2>
            <ul>
              <li>Hậu</li>
              <li>Phi</li>
              <li>Tần</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
              <li>Mỹ nhân</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="box box-top-read">
        <h2 class="top-10-dv">TOP 10 Danh Vọng</h2>
        <ul>
          <li>Hậu</li>
          <li>Phi</li>
          <li>Tần</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="box box-top-read">
        <h2 class="top-10-dv">TOP 10 Danh Vọng</h2>
        <ul>
          <li>Hậu</li>
          <li>Phi</li>
          <li>Tần</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="box box-top-read">
        <h2 class="top-10-dv">TOP 10 Danh Vọng</h2>
        <ul>
          <li>Hậu</li>
          <li>Phi</li>
          <li>Tần</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
          <li>Mỹ nhân</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-2 tag">
      <button class="btn btn-tag">Sủng</button>
    </div>
    <div class="col-sm-2 tag">
      <button class="btn btn-tag">Cung Đấu</button>
    </div>
    <div class="col-sm-2 tag">
      <button class="btn btn-tag">Trùng Sinh</button>
    </div>
    <div class="col-sm-2 tag">
      <button class="btn btn-tag">Ngược</button>
    </div>
    <div class="col-sm-2 tag">
      <button class="btn btn-tag">Sắc</button>
    </div>
    <div class="col-sm-2 tag">
      <button class="btn btn-tag">Huyền Huyễn</button>
    </div>
    <div class="col-sm-2 tag">
      <button class="btn btn-tag">Thanh xuân vườn trường</button>
    </div>
    <div class="col-sm-2 tag">
      <button class="btn btn-tag">Võng Du</button>
    </div>
    <div class="col-sm-2 tag">
      <button class="btn btn-tag">Quân Nhân</button>
    </div>
    <div class="col-sm-2 tag">
      <button class="btn btn-tag">Nữ Phụ</button>
    </div>
    <div class="col-sm-2 tag">
      <button class="btn btn-tag">Hài</button>
    </div>
    <div class="col-sm-2 tag">
      <button class="btn btn-tag">Thanh mai trúc mã</button>
    </div>
  </div>
</div>