<div class="container">
  <!-- HighLight -->
  <div class="row">
    <div class="highlight-content col-sm-12">
      <h6>Highlight</h6>
      <h5>[Đề cử truyện đang hot nhất/ hoặc truyện này admin muốn đề cử trên web]</h5>
      <p>
        Text here... Text here... vài dòng giới thiệu/ review viết ở đây để thu hút bạn đọc.Text here... Text here... vài dòng giới
        thiệu/ review viết ở đây để thu hút bạn đọc.Text here... Text here... vài dòng giới thiệu/ review viết ở đây để thu
        hút bạn đọc. Text here... Text here... vài dòng giới thiệu/ review viết ở đây để thu hút bạn đọc.Text here... Text
        here... vài dòng giới thiệu/ review viết ở đây để thu hút bạn đọc.Text here... Text here... vài dòng giới thiệu/
        review viết ở đây để thu hút bạn đọc Text here... Text here... vài dòng giới thiệu/ review viết ở đây để thu hút
        bạn đọc.Text here... Text here... vài dòng giới thiệu/ review viết ở đây để thu hút bạn đọc.Text here... Text here...
        vài dòng giới thiệu/ review viết ở đây để thu hút bạn đọc Text here... Text here... vài dòng giới thiệu/ review viết
        ở đây để thu hút bạn đọc.Text here... Text here... vài dòng giới thiệu/ review viết ở đây để thu hút bạn đọc.Text
        here... Text here... vài dòng giới thiệu/ review viết ở đây để thu hút bạn đọc Text here... Text here... vài dòng
        giới thiệu/ review viết ở đây để thu hút bạn đọc.Text here... Text here... vài dòng giới thiệu/ review viết ở đây
        để thu hút bạn đọc.Text here... Text here... vài dòng giới thiệu/ review viết ở đây để thu hút bạn đọc
      </p>
      <h5 class="see-more">See more...</h5>
    </div>
  </div>

  <!-- Novel Categories -->
  <div class="row">
    <div class="col-sm-3">
      <div class="category">TRUYỆN CỔ ĐẠI</div>
    </div>
    <div class="col-sm-3">
      <div class="category">TRUYỆN HIỆN ĐẠI</div>
    </div>
    <div class="col-sm-3">
      <div class="category">TRUYỆN NƯỚC NGOÀI</div>
    </div>
    <div class="col-sm-3">
      <div class="category">TRUYỆN HOÀN</div>
    </div>
  </div>

  <!-- Latest Novels -->
  <div class="row">
    <div class="col-sm-5">
      <div class="latest-novels-header">
        TRUYỆN MỚI CẬP NHẬT
      </div>
    </div>
  </div>

</div>