/* HighLight SECTION */
.highlight-content {
    overflow: hidden;
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
}

h6 {
    font-size: 100px;
    font-weight: 300;
    color: grey;
    margin-top: 5px;
    margin-left: 10px;
}

h5 {
    color: grey;
    margin-left: 10px;
}

p {
    color: grey;
    margin-left: 10px;
}

.see-more {
    float: right;
}

/* NOVEL CATEGORIES SECTION */
.category {
    height: 160px;
    padding: 5px;
    background-color: #ffcdcf;
    color: #53383d;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    line-height: 50px;
}

/* LATEST NOVELS */
.latest-novels-header {
    background-color: #e3f1f2;
    color: grey;
    font-size: 35px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}