<div class="highlight">
  <div class="highlight-content">
    <h1>Highlight</h1>
    <h5>[Đề cử truyện đang hot nhất/ hoặc truyện này admin muốn đề cử trên web]</h5>
    <p>
      Text here... Text here... vài dòng giới thiệu/ review viết ở đây để thu hút bạn đọc.Text here... Text here... vài dòng giới
      thiệu/ review viết ở đây để thu hút bạn đọc.Text here... Text here... vài dòng giới thiệu/ review viết ở đây để thu
      hút bạn đọc. Text here... Text here... vài dòng giới thiệu/ review viết ở đây để thu hút bạn đọc.Text here... Text
      here... vài dòng giới thiệu/ review viết ở đây để thu hút bạn đọc.Text here... Text here... vài dòng giới thiệu/ review
      viết ở đây để thu hút bạn đọc Text here... Text here... vài dòng giới thiệu/ review viết ở đây để thu hút bạn đọc.Text
      here... Text here... vài dòng giới thiệu/ review viết ở đây để thu hút bạn đọc.Text here... Text here... vài dòng giới
      thiệu/ review viết ở đây để thu hút bạn đọc Text here... Text here... vài dòng giới thiệu/ review viết ở đây để thu
      hút bạn đọc.Text here... Text here... vài dòng giới thiệu/ review viết ở đây để thu hút bạn đọc.Text here... Text here...
      vài dòng giới thiệu/ review viết ở đây để thu hút bạn đọc Text here... Text here... vài dòng giới thiệu/ review viết
      ở đây để thu hút bạn đọc.Text here... Text here... vài dòng giới thiệu/ review viết ở đây để thu hút bạn đọc.Text here...
      Text here... vài dòng giới thiệu/ review viết ở đây để thu hút bạn đọc
    </p>
    <h5 class="see-more">See more...</h5>
  </div>
</div>

<div class="container-fluid">

  <!-- Novel Type -->
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-3">

      </div>
      <div class="col-sm-3">

      </div>
      <div class="col-sm-3">

      </div>
    </div>
  </div>

</div>