/* HighLight SECTION */
.highlight-content {
    overflow: hidden;
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 20px;
}

h6 {
    font-size: 100px;
    font-weight: 300;
    color: grey;
    margin-top: 5px;
    margin-left: 10px;
}

h5 {
    color: grey;
    margin-left: 10px;
}

p {
    color: grey;
    margin-left: 10px;
}

.see-more {
    float: right;
}

/* NOVEL CATEGORIES SECTION */
.flex-container {
    display: flex;
}

.category {
    background-color: #ffcdcf;
    color: #53383d;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/* LATEST NOVELS */
.latest-novels-header {
    background-color: #e3f1f2;
    color: grey;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}