#formLogin {
    margin-top: 30px;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.icon {
    padding-top: 15px;
    background: #fa979a;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid #fa979a;
}

/* Set a style for the submit button */
.btn-sign-in {
    background-color: #fa979a;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn-facebook-sign-in {
    background-color: #fa979a;
    color: white;
    padding: 3px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn-facebook-sign-in span {
    position: relative;
    top: -11px;
    left: 10px;
}

.btn:hover {
    opacity: 1;
}

#sign-in-icon {
    margin-right: 10px;
}

.or-seperator {
    margin: 30px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}

.or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
}

.help-block {
  color: red;
}