<form id="formLogin">

  <div class="input-container">
    <i class="fa fa-user icon fa-lg"></i>
    <input class="input-field" type="text" placeholder="Username" name="usrnm">
  </div>

  <div class="input-container">
    <i class="fa fa-key icon fa-lg"></i>
    <input class="input-field" type="password" placeholder="Password" name="psw">
  </div>

  <div class="button-container">
    <button type="submit" class="btn"><i id="sign-in-icon" class="fa fa-sign-in fa-lg"></i>Login</button>
  </div>

</form>