<form id="formLogin">

  <div class="input-container">
    <i class="fa fa-user icon fa-lg"></i>
    <input class="input-field" type="text" placeholder="Username" name="usrnm">
  </div>

  <div class="input-container">
    <i class="fa fa-key icon fa-lg"></i>
    <input class="input-field" type="password" placeholder="Password" name="psw">
  </div>

  <div class="button-container">
    <button type="submit" class="btn-sign-in"><i id="sign-in-icon" class="fa fa-sign-in fa-lg"></i>Login</button>
  </div>

  <p class="or-note">-Hoặc đăng nhập sử dụng-</p>

  <div class="button-container">
    <button type="submit" class="btn-facebook-sign-in">
        <i class="fa fa-facebook-square" style="font-size: 48px; color:#4267b2;"></i>
    </button>
  </div>

</form>