<form id="formLogin">

  <div class="input-container">
    <i class="fa fa-user icon fa-lg"></i>
    <input class="input-field" type="text" placeholder="Tài khoản" name="usrnm">
  </div>

  <div class="input-container">
    <i class="fa fa-key icon fa-lg"></i>
    <input class="input-field" type="password" placeholder="Mật khẩu" name="psw">
  </div>

  <div class="button-container">
    <button type="submit" class="btn-sign-in"><i id="sign-in-icon" class="fa fa-sign-in fa-lg"></i>Đăng nhập</button>
  </div>

  <div class="or-seperator">
    <i>hoặc</i>
  </div>

  <div class="button-container">
    <button type="submit" class="btn-facebook-sign-in">
        <i class="fa fa-facebook-square" style="font-size: 48px; color: white"></i>
        <span>Đăng nhập sử dụng <b>FACEBOOK</b></span>
    </button>
  </div>

</form>