/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "SFUFutura";
    src: url(./assets/fonts/SFUFuturaRegular.TTF) format('truetype');
}

body {
    font-family: 'SFUFutura'
}